<nav>
  <div class='nav'>
    <div class='nav-item row'>
      <div class='col-2'>
        <a href='/summary' class='nav-link ms-3'>Summary</a>
      </div>
      <div class='col-2'>
        <a href='/skills' class='nav-link ms-3'>Skills</a>
      </div>
      <div class='col-2'>
        <a href='/education' class='nav-link'>Education</a>
      </div>
      <div class='col-2'>
        <a href='/work' class='nav-link ms-3'>Work</a>
      </div>
    </div>
  </div>
</nav>